/* @override file:///Users/gldnspud/env/fosmc/src/output/static/master.css */

body {
	padding-top: 60px;
}

div.hero-unit {
    padding: 30px;
}

div.hero-unit h1 {
    font-size: 32pt;
}

.image-replace {
	/* http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/ */
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

a.brand {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}