{% extends "base.html" %}
{% from "macros.html" import dj_table, event_table, recording_table %}

{% block title %}{{ obj.name }} - Cities{% endblock %}

{% block bodyclass %}city{% endblock %}
{% block city_nav_class %}active{% endblock %}

{% block body %}

  <h2>{{ obj.name }}</h2>

  <p>
    <img class="hide-if-broken promo" src="{{ root }}media/city/{{ obj.slug }}.jpg" alt="Photo of city: {{ obj.name }}">
  </p>

  {% if obj.description %}
    <div class="description">
      {{ obj.description }}
    </div>
  {% endif %}

  <dl>

    {% if obj.djs %}
      <dt>DJs</dt>
      <dd>
        {{ dj_table(obj.djs|slugobjects('dj')) }}
      </dd>
    {% endif %}

    {% if obj.events %}
      <dt>Events</dt>
      <dd>
        {{ event_table(obj.events|slugobjects('event')) }}
      </dd>
    {% endif %}

    {% if obj.recordings %}
      <dt>Recordings</dt>
      <dd>
        {{ recording_table(obj.recordings|slugobjects('recording')|datesorted|reversed) }}
        <div><a class="btn btn-small" href="{{ obj.slug }}.xml"><img src="{{ static }}feed-icon-14x14.png"> Subscribe</a></div>
      </dd>
    {% endif %}

  </dl>

  {% include "comments.html" %}

{% endblock %}