{% extends "base.html" %}
{% from "macros.html" import recording_table %}

{% block title %}{{ obj.name }} - DJs{% endblock %}

{% block bodyclass %}dj{% endblock %}
{% block dj_nav_class %}active{% endblock %}

{% block body %}

  <h2>DJ: {{ obj.name }}</h2>

  <p>
    <img class="hide-if-broken" src="{{ root }}media/dj/{{ obj.slug }}.jpg" alt="Photo of DJ: {{ obj.name }}">
  </p>
  
  {% if obj.bio %}
    <div class="description">
      {{ obj.bio}}
    </div>
  {% endif %}

  <dl>

    {% if obj.aliases %}
      <dt>Aliases</dt>
      <dd>
        <ul>
          {% for alias in obj.aliases %}
            <li>{{ alias }}</li>
          {% endfor %}
        </ul>
      </dd>
    {% endif %}

    {% if obj.city %}
      <dt>City</dt>
      <dd><a href="{{ root }}city/{{ obj.city }}.html">{{ obj.city|slugname('city') }}</a></dd>
    {% endif %}

    {% if obj.links %}
      <dt>Links</dt>
      <dd>
        <ul>
          {% for link in obj.links %}
            <li><a href="{{ link.url }}">{{ link.text }}</a></li>
          {% endfor %}
        </ul>
      </dd>
    {% endif %}

    {% if obj.genres %}
      <dt>Genres</dt>
      <dd>
        <ul>
          {% for slug in obj.genres %}
            <li><a href="{{ root }}genre/{{ slug }}.html">{{ slug|slugname('genre') }}</a></li>
          {% endfor %}
        </ul>
      </dd>
    {% endif %}

    {% if obj.events %}
      <dt>Events</dt>
      <dd>
        <ul>
          {% for slug in obj.events %}
            <li><a href="{{ root }}event/{{ slug }}.html">{{ slug|slugname('event') }}</a></li>
          {% endfor %}
        </ul>
      </dd>
    {% endif %}

    {% if obj.recordings %}
      <dt>Recordings</dt>
      <dd>
        {{ recording_table(obj.recordings|slugobjects('recording')) }}
      </dd>
    {% endif %}

  </dl>

  {% include "comments.html" %}

{% endblock %}
