{% extends "base.html" %}
{% from "macros.html" import recording_table %}

{% block title %}{{ obj.name }} - Genres{% endblock %}

{% block bodyclass %}genre{% endblock %}
{% block genre_nav_class %}active{% endblock %}

{% block body %}

  <h2>{{ obj.name }}</h2>

  {% if obj.description %}
    <div class="description">
      {{ obj.description }}
    </div>
  {% endif %}

  <dl>

    {% if obj.djs %}
      <dt>DJs</dt>
      <dd>
        <ul>
          {% for slug in obj.djs %}
            <li><a href="{{ root }}dj/{{ slug }}.html">{{ slug|slugname('dj') }}</a></li>
          {% endfor %}
        </ul>
      </dd>
    {% endif %}

    {% if obj.recordings %}
      <dt>Recordings</dt>
      <dd>
        {{ recording_table(obj.recordings|slugobjects('recording')) }}
        <div><a class="btn btn-small" href="{{ obj.slug }}.xml"><img src="{{ static }}feed-icon-14x14.png"> Subscribe</a></div>
      </dd>
    {% endif %}

  </dl>

  {% include "comments.html" %}

{% endblock %}