{% extends "base.html" %}
{% from "macros.html" import recording_table %}

{% block title %}Welcome{% endblock %}

{% block bodyclass %}index{% endblock %}

{% block body %}

  <div class="hero-unit">
    <h1>Free MP3 mix downloads</h1>

    <p>
      More than a decade
      of DJ mixes and live EDM show recordings
      from all over the Midwest region:
    </p>

    <ul>
      <li>Springfield, Kansas City, and St. Louis, Missouri</li>
      <li>Fayetteville and Little Rock, Arkansas</li>
      <li>Oklahoma City and Tulsa, Oklahoma</li>
      <li>...and more!</li>
    </ul>
  </div>

  <ul class="thumbnails">
    <li class="span3">
      <a href="{{ root }}city/index.html" class="thumbnail"><img src="{{ static }}by_city.jpg" alt="By City"></a>
    </li>
    <li class="span3">
      <a href="{{ root }}dj/index.html" class="thumbnail"><img src="{{ static }}by_dj.jpg" alt="By DJ"></a>
    </li>
    <li class="span3">
      <a href="{{ root }}event/index.html" class="thumbnail"><img src="{{ static }}by_event.jpg" alt="By Event"></a>
    </li>
    <li class="span3">
      <a href="{{ root }}genre/index.html" class="thumbnail"><img src="{{ static }}by_genre.jpg" alt="By Genre"></a>
    </li>
  </ul>

  <h2>Fresh Mixes</h2>

  <p>Download the ten most recent mixes.</p>

  {{ recording_table(list(reversed(recordings_by_date))[:10], root=root, static=static) }}
  <div><a class="btn btn-small" href="index.xml"><img src="{{ static }}feed-icon-14x14.png"> Subscribe</a></div>

{% endblock %}
