{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block bodyclass %}index{% endblock %}

{% block body %}

  <p>
    Based in Springfield, Missouri,
    417MixCollection is a growing collection
    from more the last decade
    of DJ mixes and live EDM show recordings
    from not only Springfield,
    but all over the Midwest region,
    including
    Kansas City and St. Louis, MO;
    Fayetteville and Little Rock, AR;
    Oklahoma City and Tulsa, OK;
    and more.
  </p>

  <p>
    Available Genres Include:
    Drum & Bass,
    House (Tech/Deep/Progressive),
    Electro/Electrohouse,
    Dubstep,
    Techno,
    Trance/Psytrance/Goa,
    Downtempo/Trip-Hop,
    Hip-Hop/Soul/Funk/Disco,
    Breaks.
  </p>

  <p>Free MP3 downloads of all mixes.</p>

  <table>
    <tr>
      <td><a href="{{ root }}city/index.html" class="image-replace" id="by-city">By City</a></td>
      <td><a href="{{ root }}dj/index.html" class="image-replace" id="by-dj">By DJ</a></td>
    </tr>
    <tr>
      <td><a href="{{ root }}event/index.html" class="image-replace" id="by-event">By Event</a></td>
      <td><a href="{{ root }}genre/index.html" class="image-replace" id="by-genre">By Genre</a></td>
    </tr>
  </table>

{% endblock %}
