{% macro recording_table(object_list, root="../") -%}
  <table>
    <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Date</th>
      <th>Name</th>
      <th>DJs</th>
      <th>Event</th>
      <th>Genres</th>
    </tr>
    </thead>
    <tbody>
    {% for recording in object_list %}
      <tr>
        <th><a href="{{ root }}recording/{{ recording.slug }}.html">[Link]</a></th>
        <th>{{ recording.date|dateformat }}</th>
        <th>
          {% if recording.name %}
            {{ recording.name }}
          {% endif %}
        </th>
        <th>
          {% if recording.djs %}
            <ul>
              {% for slug in recording.djs %}
                <li><a href="{{ root }}dj/{{ slug }}.html">{{ slug|slugname('dj') }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </th>
        <th>
          {% if recording.event %}
            <a href="{{ root }}event/{{ recording.event }}.html">{{ recording.event|slugname('event') }}</a>
          {% endif %}
        </th>
        <th>
          {% if recording.genres %}
            <ul>
              {% for slug in recording.genres %}
                <li><a href="{{ root }}genre/{{ slug }}.html">{{ slug|slugname('genre') }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </th>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{%- endmacro %}
