{% extends "base.html" %}

{% block title %}{{ obj.name }} - Recordings{% endblock %}

{% block bodyclass %}recording{% endblock %}

{% block body %}

  <h2>{{ obj.name }}</h2>

  <p>
    <img class="hide-if-broken promo" src="{{ root }}media/recording/{{ obj.slug }}.jpg" alt="Promotional image for recording: {{ obj.name }}">
  </p>

  {% if obj.description %}
    <div class="description">
      {{ obj.description }}
    </div>
  {% endif %}

  <dl>

    <dt>Free MP3</dt>
    {% if obj.mp3 == 'auto' %}
      {% set mp3url = root + 'media/recording/' + obj.slug + '.mp3' %}
    {% else %}
      {% set mp3url = obj.mp3 %}
    {% endif %}
    <dd>
      <div class="non-mobile">
        <object type="application/x-shockwave-flash" data="{{ static }}player_mp3_maxi.swf" width="200" height="20">
         <param name="movie" value="{{ static }}player_mp3_maxi.swf" />
         <param name="FlashVars" value="mp3={{ mp3url }}" />
        </object>
      </div>
      <div class="non-mobile">
        <a class="btn" href="{{ mp3url }}"><i class="icon-download"></i> Download</a>
      </div>
      <div class="mobile hidden">
        <a class="btn" href="{{ mp3url }}"><i class="icon-play"></i> Play</a>
      </div>
    </dd>

    {% if obj.date %}
      <dt>Date</dt>
      <dd>{{ obj.date|dateformat }}</dd>
    {% endif %}

    {% if obj.djs %}
      <dt>DJs</dt>
      <dd>
        <ul>
          {% for slug in obj.djs %}
            <li><a href="{{ root }}dj/{{ slug }}.html">{{ slug|slugname('dj') }}</a></li>
          {% endfor %}
        </ul>
      </dd>
    {% endif %}

    {% if obj.event %}
      <dt>Event</dt>
      <dd><a href="{{ root }}event/{{ obj.event }}.html">{{ obj.event|slugname('event') }}</a></dd>
    {% endif %}

    {% if obj.genres %}
      <dt>Genres</dt>
      <dd>
        <ul>
          {% for slug in obj.genres %}
            <li><a href="{{ root }}genre/{{ slug }}.html">{{ slug|slugname('genre') }}</a></li>
          {% endfor %}
        </ul>
      </dd>
    {% endif %}

  </dl>

  {% include "comments.html" %}

{% endblock %}
