<h3>Support our site</h3>

<p>
  Do you want to make music like this?
  Or are you already a DJ or producer?
  <strong>Remember to support our site by <a target="_blank" href="http://www.amazon.com/DJ-Electronic-Music-Karaoke-Products/b/?_encoding=UTF8&camp=1789&creative=390957&linkCode=ur2&node=11973881&pf_rd_i=11091801&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=1568191802&pf_rd_r=A677CE39737B4C529368&pf_rd_s=merchandised-search-5&pf_rd_t=101&tag=417mixcollection-20">purchasing gear and other items using this Amazon link</a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=417mixcollection-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></strong>.
</p>

<p>
  Here are some popular items used by DJs and producers today:
</p>

<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=417mixcollection-20&o=1&p=8&l=as4&m=amazon&f=ifr&ref=ss_til&asins=B0093UPG48" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>

<iframe src="http://rcm-na.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=nrgbombs-20&o=1&p=8&l=as4&m=amazon&f=ifr&ref=ss_til&asins=B00746YMHA" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
